.nav {
    width: 1210px;
    height: 156px;
    margin: 0 auto;

    .DesktopMenu {
        display: flex;

        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 90px;
        justify-content: center;
        width: 437px;
        height: 48px;
        left: 40px;

        a {
            margin-top: 67.5px;
            color: white;
            text-decoration-line: none;
            font-size: 30px;
        }

    }

    .nav-images {
        display: flex;
        gap: 33px;
        justify-content: flex-end;

    }
}