.imgBG {
    position: absolute;
    left: 0.07%;
    right: 0%;
    top: -300%;
    bottom: -92600%;
}
.features-main{
    img{
        width: 85px;
    height: auto;
    margin-left: 669px;
    }
}
.features-img{
    img{
        display: flex;
        margin: 0px auto;
        margin-top: 150px;
        border-radius: 20px;
        height: 80vh;
        
    }
}
.macbookPro{
    display: inline-block;
    margin-left: 36px;
    img{
        margin-right: 420px;
        width: 1000px;
        height: auto;
        
    }
}
.lightning-img{
    display: inline-block;
    margin-left: 430px;
    img{
        height: 850px;
        
    }
}
.partners-div{
    img{
        width: 1600px;
        height: auto;
        margin-bottom: 160px;
    }
}
.map-img{
    display:  flex;
    img{
        margin-left: 200px;
        height: 400px;
    }
}